.ctn-page{
    display: flex;
    justify-content: center;
    .ctn-body{
        height: 500px;
        position: absolute;
        top: 10%; 
        display: flex;
        flex-wrap: wrap;
        max-width: 264px;
    }
}