.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    margin: auto;
    
    .card-body-mounstros{
        margin: auto;
            .ctn-buttons{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            
                .ctn-b1{
                    >button{
                        border-radius: 15px;
                        margin: 5px;
                        width: 120px;
                        height: 50px;
                        border: #ca0703 3px solid;
                        color: #ca0703;
                    }
                }
            }
        }
    }